<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Xóa nhu cầu </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>Bạn đã chắc chắn muốn xóa nhu cầu: </span>
        <span style="color: red">NC001 </span>?<br>
        <span>Lưu ý: Hành động này không thể hoàn tác !</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Xóa</button>
      </div>
    </div>
  </div>
</div>
