<i class="fa-solid fa-house"></i>
<div class="row" style="margin: 0 20px">
  <div class="row g-0" style="margin-bottom: 10px">
    <div class="col-md-3">
      <a class="btn text-center" href="#"><i class="fa-solid fa-arrow-left"></i> Quay lại</a>
    </div>
  </div>
  <div class="row g-0" style="border: black 1px solid; min-height: 100px">
    <div class="col-md-12 g-0">
      <label class="search"> Tìm kiếm </label>
      <div class="row" style="margin: 0 5px">
        <div class="col-md-12">
          <span>DIỆN TÍCH: </span>
          <span> <input type="text" style="width: 5rem" id="area" name="area"></span> -
          <span><input type="text" style="width: 5rem"> </span>
          <span style="position: absolute; right: 4rem"><button class="btn btn-outline-danger">Tìm kiếm</button> </span>
        </div>
      </div>
      <div class="row" style="margin: 10px 5px">
        <div class="col-md-12 col-lg-5 col-xxl-4">
          <span>LOẠI NC: </span>
          <input id="by" type="radio" name="type-nc"/>
          <label for="by" class="me-2"> Mua </label>
          <input id="sale" type="radio" name="type-nc"/>
          <label for="sale" class="me-2"> Bán </label>
          <input id="rent" type="radio" name="type-nc"/>
          <label for="rent" class="me-2"> Thuê </label>
          <input id="lease" type="radio" name="type-nc"/>
          <label for="lease" class="me-2"> Cho thuê</label>
        </div>
        <div class="col-md-12 col-lg-3 col-xxl-2">
          <span>LOẠI BĐS: </span>
          <input id="land" type="radio" name="type-bds"/>
          <label for="land" class="me-2"> Đất </label>
          <input id="house" type="radio" name="type-bds"/>
          <label for="house" class="me-2">Nhà </label>
        </div>
        <div class="col-md-12 col-lg-4 col-xxl-4">
          <span>Vị Trí: </span>
          <input id="suburb" type="radio" name="position"/>
          <label for="suburb" class="me-2"> Ngoại ô </label>
          <input id="center" type="radio" name="position">
          <label for="center" class="me-2"> Trung tâm </label>

        </div>
      </div>
    </div>
  </div>
  <div class="row g-0" style="border: black 1px solid; min-height: 200px; margin-top: 20px">
    <table class="table table-light table-striped">
      <thead>
      <th>STT</th>
      <th>Mã NC</th>
      <th>Mã KH</th>
      <th>Loại NC</th>
      <th>Loại BĐS</th>
      <th>Vị Trí</th>
      <th>Diện tích(Min-Max)</th>
      <th>Ghi chú</th>
      <th colspan="2" style="text-align: center">Chức năng</th>
      </thead>
      <tbody *ngFor="let postApproval of postApprovalList.content; index as i">
      <tr>
        <td class="text-center align-middle">{{i + 1 + postApprovalList.number * 5}}</td>
        <td>NC{{postApproval.idPost}}</td>
        <td>{{postApproval.codeCustomer}}</td>
        <td>{{postApproval.demandType}}</td>
        <td>{{postApproval.landType}}</td>
        <td></td>
        <td>500-750 m<sup>2</sup></td>
        <td>Mua nhà ngoại ô</td>
        <td>
          <span *ngIf="postApproval.approval == true; else elseApproval">Đã duyệt</span>
          <ng-template #elseApproval>
            <button type="button" class="btn btn-light btn-outline-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#approvalModal" (click)="temp = postApproval">
              Duyệt
            </button></ng-template>
        </td>
        <td>
          <button class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="temp = postApproval">
            <i class="bi bi-trash3"></i></button>
        </td>
      </tr>
      </tbody>

    </table>


    <!--  Phân trang -->
    <div *ngIf="postApprovalList" class="d-flex justify-content-center" id="last-row">
      <div>
      </div>
      <div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" [ngClass]="postApprovalList.first ? 'disabled': ''">
              <a role="button" class="page-link" (click)="gotoPage(0)">Trang đầu</a>
            </li>
            <li class="page-item" [ngClass]="postApprovalList.first ? 'disabled': ''">
              <a role="button" class="page-link" (click)="gotoPage(postApprovalList.number - 1)"><</a>
            </li>
            <li class="page-item" *ngIf="postApprovalList.number - 3 > 0">
              <a role="button" class="page-link"
                 (click)="gotoPage(postApprovalList.number - 4)">{{postApprovalList.number - 3}}</a>
            </li>
            <li class="page-item" *ngIf="postApprovalList.number - 2 > 0">
              <a role="button" class="page-link"
                 (click)="gotoPage(postApprovalList.number - 3)">{{postApprovalList.number - 2}}</a>
            </li>
            <li class="page-item" *ngIf="postApprovalList.number - 1 > 0">
              <a role="button" class="page-link"
                 (click)="gotoPage(postApprovalList.number - 2)">{{postApprovalList.number - 1}}</a>
            </li>
            <li class="page-item" *ngIf="postApprovalList.number > 0">
              <a role="button" class="page-link"
                 (click)="gotoPage(postApprovalList.number - 1)">{{postApprovalList.number}}</a>
            </li>

            <li class="page-item active"><a class="page-link">{{postApprovalList.number + 1}}</a></li>

            <li class="page-item" *ngIf="postApprovalList.number + 2 <= postApprovalList.totalPages">
              <a role="button" class="page-link"
                 (click)="gotoPage(postApprovalList.number + 1)">{{postApprovalList.number + 2}}</a>
            </li>
            <li class="page-item" *ngIf="postApprovalList.number + 3 <= postApprovalList.totalPages">
              <a role="button" class="page-link"
                 (click)="gotoPage(postApprovalList.number + 2)">{{postApprovalList.number + 3}}</a>
            </li>
            <li class="page-item" *ngIf="postApprovalList.number + 4 <= postApprovalList.totalPages">
              <a role="button" class="page-link"
                 (click)="gotoPage(postApprovalList.number + 3)">{{postApprovalList.number + 4}}</a>
            </li>
            <li class="page-item" *ngIf="postApprovalList.number + 5 <= postApprovalList.totalPages">
              <a role="button" class="page-link"
                 (click)="gotoPage(postApprovalList.number + 4)">{{postApprovalList.number + 5}}</a>
            </li>
            <li class="page-item" [ngClass]="postApprovalList.last ? 'disabled': ''">
              <a role="button" class="page-link" (click)="gotoPage(postApprovalList.number + 1)">></a>
            </li>
            <li class="page-item" [ngClass]="postApprovalList.last ? 'disabled': ''">
              <a role="button" class="page-link" (click)="gotoPage(postApprovalList.totalPages - 1)">Trang cuối</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</div>

<app-post-delete [postApproval] = "temp" (emiter)="reload()"></app-post-delete>
<app-post-approval [postApproval]="temp" (emiter)="reload()"></app-post-approval>
