<header class="sticky-top">
  <nav class="navbar navbar-expand-lg" style="background-color: #f2f2f2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://drive.google.com/file/d/1k4Dbcl4X6sSO4bgqICSnOx7f1BFmlf2R/view?usp=share_link"
             width="150"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">Nhà đất bán</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Nhà đất cho thuê</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Cần mua cần thuê</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Quản lý
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Quản lý khách hàng</a></li>
              <li><a class="dropdown-item" href="#">Quản lý nhân viên</a></li>
              <li><a class="dropdown-item" href="#">Biểu mẫu</a></li>
              <li><a class="dropdown-item" href="#">Thống kê</a></li>
            </ul>
          </li>
        </ul>
        <div>
          <button class="btn btn-outline-danger" type="submit">Đăng nhập</button>
          <button class="btn btn-outline-warning" type="submit">Đăng ký</button>
          <button class="btn btn-outline-success" type="submit">Đăng tin</button>
        </div>
      </div>
    </div>
  </nav>
</header>
