<header class="sticky-top">
  <nav class="navbar navbar-expand-lg" style="background-color: #f2f2f2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">

        <img src="../../../assets/image/logoSang.png" width="110"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">Nhà đất bán</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Nhà đất cho thuê</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Cần mua cần thuê</a>
          </li>
        </ul>
        <div>
          <button class="btn btn-outline-danger" type="submit" *ngIf="!checkLogin" data-bs-toggle="modal" data-bs-target="#login">Đăng nhập</button>
          <button class="btn btn-outline-warning" type="submit" *ngIf="!checkLogin">Đăng ký</button>
          <button class="btn btn-outline-primary" type="submit" routerLink="/#" *ngIf="checkLogin">Đăng Tin</button>
          <button class="btn btn-outline-primary" type="submit" routerLink="/security/login" *ngIf="!checkLogin">Đăng Tin</button>
          <button data-bs-toggle="modal" data-bs-target="#logout" class="btn btn-outline-danger" type="submit"
                  *ngIf="checkLogin">Đăng Xuất
          </button>
        </div>
        <div *ngIf="checkLogin ">
          <div class="dropdown">
            <button class="btn btn-danger" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-regular fa-user"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Thông tin</a></li>
              <li><a class="dropdown-item" href="#">Bài đăng</a></li>
              <li><a class="dropdown-item" href="#">Đang xuất</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Modal logout-->
<div class="modal fade" id="logout" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel1">Đăng xuất</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn đăng xuất!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
        <button type="submit" (click)="logOut()" data-bs-dismiss="modal" class="btn btn-danger">Tiếp tục</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal login -->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Đăng Nhập</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row ">
          <br>
          <div class="row container">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 rounded-3 ms-3">
              <h5>Xin chào bạn</h5>
              <h3>Đăng nhập để tiếp tục</h3>
              <br>
              <form [formGroup]="signInForm" (ngSubmit)="login()">
                <!-- Username input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="username">Tài khoản</label>
                  <input type="text" id="username" class="form-control" formControlName="username"/>
                  <div class="text-danger"
                       *ngIf="signInForm.controls.username.invalid && signInForm.controls.username.touched else elseBlock">
                    <span *ngIf="signInForm.controls.username.hasError('required')">Tên tài khoản không được để trống.</span>
                    <span *ngIf="signInForm.controls.username.hasError('minlength')">Tên tài khoản Không nhỏ hơn 3 ký tự.</span>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Mật Khẩu</label>
                  <input type="password" id="password" class="form-control" formControlName="password"/>
                  <div class="text-danger"
                       *ngIf="signInForm.controls.password.invalid && signInForm.controls.password.touched else elseBlock">
                    <span *ngIf="signInForm.controls.password.hasError('required')">Mật khẩu không được để trống.</span>
                    <span *ngIf="signInForm.controls.password.hasError('minlength')">Mật khẩu Không nhỏ hơn 5 ký tự.</span>
                  </div>
                  <ng-template #elseBlock><br></ng-template>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="rememberMe" checked />
                      <label class="form-check-label" for="rememberMe"> Nhớ mật khẩu </label>
                    </div>
                  </div>

                  <div class="col">
                    <!-- Simple link -->
                    <a href="#!" class="text-primary">Quên mật khẩu?</a>
                  </div>
                </div>

                <!-- Submit button -->
                <div class="row align-items-center me-1 ms-1">
                  <button [disabled]="signInForm.invalid" type="button" class="btn btn-primary btn-block mb-4 ">Đăng nhập</button>
                </div>

                <!-- Register buttons -->
                <div class="text-center">
                  <p>Chưa có tài khoản? <a href="#!" class="text-primary">Đăng ký</a></p>
                </div>
              </form>
            </div>

          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
