<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Danh Sach Nhu Cầu</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div>
  <div style="height: 150px; background-color: silver">
    <h3 style="text-align: center">
      HEADER
    </h3>
  </div>
  <div>
    <h3 style="text-align: center; color: orange">DANH SÁCH NHU CẦU CỦA KHÁCH HÀNG 001</h3>
  </div>
  <div class="container">
    <div class="header-nav " style="position: sticky;z-index: 1;top: 0">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" style="margin-right: 30px">
                <button class="btn btn-outline-secondary" routerLink="/home"><i class="fa-solid fa-chevron-left"></i>
                  Trở về
                </button>
              </li>
              <li class="nav-item">
                <button class="btn btn-outline-primary" [routerLink]="['/post/create',idCustomer]">Thêm nhu cầu</button>
              </li>
            </ul>
            <div>
              <form class="d-flex">
                <input class="inputSearch" type="search" placeholder="Tìm kiếm Nhu cầu BĐS"
                       aria-label="Search" #nameDemandType>
                <button class="btn btn-outline-primary" style="margin-left: 30px"
                        (click)="searchByNameDemandType(nameDemandType.value)">Tìm kiếm
                </button>
              </form>
            </div>

          </div>
        </div>
      </nav>
      <hr style="background-color: blue; height: 2px">
    </div>
    <div *ngIf="postListCustomer">
      <div class="row">
        <div *ngFor="let item of postListCustomer, let i = index"
             class="col-lg-3 col-md-3">
          <div class="card" style="padding: 0 !important;">
            <img src="{{item?.imageListURL}}}" class="card-img-top d-block w-100" style="height: 195px" alt="...">
            <div class="card-body">
              <h5 class="card-title">Loại nhu cầu: {{item?.demandType?.nameDemandType}}</h5>
              <p class="card-text">Loại BĐS: {{item?.landType?.nameLandType}}</p>
              <p class="card-text">Vị trí: {{item?.direction}}</p>
              <p class="card-text">Diện tích: {{item?.area}}m<sup>2</sup></p>
              <p style="text-align: center"><a href="#" class="btn btn-outline-primary" [routerLink]="['/post/detail',item.idPost]">Xem chi tiết</a>
              </p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<ul *ngIf="postListCustomer && pageNumber && pageTotal">
  <span *ngIf="pageNumber > 0" (click)="goToPage(demandType?demandType:'', idCustomer?idCustomer:'', pageNumber -1)">Trước</span>
  <li *ngFor="let pageIndex of [].constructor( pageTotal), index as i">
    <span [ngClass]="pageNumber == pageIndex ? 'active' : ''"  (click)="goToPage(demandType?demandType:'', idCustomer?idCustomer:'', i+1)">{{i+1}}</span>
  </li>
  <span *ngIf="pageNumber<pageTotal-1" (click)="goToPage(demandType?demandType:'', idCustomer?idCustomer:'', pageNumber +1)">Sau</span>
</ul>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</html>
